.element__button {
    background-image: url('../../../images/like-button.svg');
    margin-right: 20px;
    width: 22px;
    height: 19px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.element__button:hover {
    opacity: 0.5;
}